<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo9RanZAMqwOf6JAmF9H1bvrrlszA21Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>616187446330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>truongminhluong.Instagram</string>
	<key>PROJECT_ID</key>
	<string>doantotnghiep-77007</string>
	<key>STORAGE_BUCKET</key>
	<string>doantotnghiep-77007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616187446330:ios:82922cad53a10c259a6103</string>
</dict>
</plist>